@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>
    <title>
        AxpRevamp ver. 1.2
    </title>
    <link type="text/css" href="~/css/AxpRevamp.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <p>What would you like to do?</p>
        <button type="button" id="btnCreateCompany" class="btn btn-default">Create Company</button>
        @*--- Modal--- *@
        <div class="modal fade" id="modalCreateCompany" role="dialog">
            <div class="modal-dialog">
                @* ----- Modal Content ---- *@
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color: red;"><span class="glyphicon glyphicon-lock"></span> Create A Company</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="companyName">Company Name</label>
                                <input type="text" class="form-control" id="inputCompanyName">
                                <label for="companyCountry">Country</label>
                                <div>
                                    <select id="companyType" class="form-control">
                                        <option>US</option>
                                        <option>Canada</option>
                                        <option>Mexico</option>
                                    </select>
                                </div>
                                <label for="companyState">State</label>
                                <div>
                                    <select id="companyState" class="form-control">
                                        <option>LoadState 1</option>
                                        <option>Load State 2</option>
                                        <option>Load State 3</option>
                                    </select>
                                </div>
                                <label for="companyAddress">Address</label>
                                <input type="text" class="form-control" id="inputCompanyAddress">
                                <label for="companyCity">City</label>
                                <input type="text" class="form-control" id="inputCompanyCity">        
                                <label for="companyZip">Zip</label>
                                <input type="text" class="form-control" id="inputCompanyZip">
                                <label for="companyPhone">Phone</label>
                                <input type="text" class="form-control" id="inputCompanyPhone">
                                <label for="companyFax">Fax</label>
                                <input type="text" class="form-control" id="inputCompanyFax">
                                <div class="form-group">
                                    <label class="control-label" for="companyType">Company Type</label>
                                    <div>
                                        <select id="companyType" class="form-control">
                                            <option>Load DB1</option>
                                            <option>Load DB2</option>
                                            <option>Load DB3</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" id="btnCreateCompanyAction" class="btn btn-default">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>