@model AxpCallerRewrite.Models.CompanyModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>

<head>
    <title>
        AxpRevamp ver. 1.2
    </title>
    <link type="text/css" href="~/css/AxpRevamp.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <p>What would you like to do?</p>
            <button type="button" id="btnCreateCompany" class="btn btn-default">Create Company</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalCreateCompany" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    @Html.Partial("_Company")
                </div>
            </div>

            <button type="button" id="btnActivateFeature" class="btn btn-default">Activate Feature</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalActivateFeature" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    @Html.Partial("_ActivateFeature")
                </div>
            </div>

            <button type="button" id="btnDeactivateFeature" class="btn btn-default">Deactivate Feature</button>
            @*--- Modal--- *@
            <div class="modal fade" id="modalDeactivateFeature" role="dialog">
                <div class="modal-dialog">
                    @* ----- Modal Content ---- *@
                    @Html.Partial("_DeactivateFeature")
                </div>
            </div>
        </div>
    </div>
</body>

</html>