body {
   
    padding-top: 3%;
    padding-bottom: 2%;
}
.body-wrapper {
    margin-left: auto;
    margin-right: auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 7%;
    padding-right: 3%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/*
    TOP NAVIGATION HEADER
*/

.navbar-header {
    background-color: #002942;
}
.navbar {
    background-color: #002942;
}

.navbar-brand {
       
    position: absolute;
    width: 100%;
    padding-right: 5%;
    left: 0;
    text-align: center;
    margin: auto;

}

.navbar-nav {
    float: right !important;

}

.navbar-nav li a {
    color: white !important;
}


/*
    BOTTOM NAVIGATION - FOOTER

*/
    .navbar-fixed-bottom {
        
    }

    .navbar-fixed-bottom p {
         color: white !important;
    }

    .navbar-fixed-bottom li {
    float: right !important;
    padding-left: 5%;
    padding-right: 2%;

    
    }

    .navbar-fixed-bottom li a {
        color: white !important;
    }

/*
    END BOTTOM NAVIGATION - FOOTER
*/

/*
    Left Side Navigation
*/
.pdsa-sn-wrapper {
    position: absolute;
    top: 3.6em;
    left: 0em;
    width: 20em;
    height: 100%;
    background-color: #002942;

}

.pdsa-sn-wrapper ul {
    width: 11em;
    list-style: none;
    margin-top: 2em;
    margin-left: -8%;

}

.pdsa-sn-wrapper a {
    color: #67d80e;
    display: inline-block;
     white-space: nowrap;
     font-family: "Arial", Times, serif;
    
}



/*Media Queries*/
/* Large desktop */


@media (min-width: 320px) and (max-width: 979px) {
    
    body {
    padding-top: 20%;
    padding-bottom: 2%;
}
    
    .body-content {
        margin-left: -5%;
    }
    
    .pdsa-sn-wrapper {
        left: -100%;
    }
    
    .navbar-nav li a {
    color: white !important;
        padding-right: -40% !important;

}

}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) {}

/*Tablets*/
@media (min-width:641px) {
         body {
    padding-top: 5%;
    padding-bottom: 2%;
}
    
    .body-content {
        margin-left: 20%;
    }
}
@media (min-width:961px) { }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1200px) { /* hi-res laptops and desktops */ 
    body {
    padding-top: 5%;
    padding-bottom: 2%;
}
    
    .body-content {
        margin-left: 13%;
    }
    
    
    .navbar-nav li a {
    color: white !important;
        padding-right: -40% !important;

}
}


